<launch>

  <include file="$(find baxter_moveit_config)/launch/demo_baxter.launch"/>

  <node name="joint_traj_action_server" pkg="baxter_interface" type="joint_trajectory_action_server.py" respawn="false" />
  <node name="gripper_cuff_control" pkg="baxter_examples" type="gripper_cuff_control.py " respawn="false" />
  <node name="baxter_moveit_planning" pkg="baxter_dual_arm_manipulation" type="minimize_using_SLSQP_multiple_times.py" respawn="true" output="screen" />


</launch>
